<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to stream video to your desktop for typing tracking.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs local network access to connect to your desktop computer.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_webrtc._tcp</string>
	</array>
</dict>
</plist>
